/* Inter */

@font-face {
    src: url(../fonts/Inter/Inter-Bold.ttf);
    font-family: "Inter";
    font-weight: 700;
}

@font-face {
    src: url(../fonts/Inter/Inter-Regular.ttf);
    font-family: "Inter";
    font-weight: 400;
}

/* Inter */

/* Roboto */

@font-face {
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: "Roboto";
    font-weight: 400;
}

/* Roboto */